.service{
    background-color:rgba(212, 195, 190, 0.644);
    /* border-radius: 20px; */
}
.service img{
    height: 200px;
    margin-top:10px;
    margin-left: 5px;
    margin-right: 5px;
    border: rosybrown;
    /* border-radius: 10px; */
    
}
.service h6{
    color: brown;
    font-size: small;
    font-style: oblique;
    flex-wrap: wrap;
    
}